{% extends 'base.html' %}

{% block content %}
<h3 class="mt-2">Опрос счётчиков</h3>

<p>Порт: {{com_port}}</p>

<button class="button info outline mt-2" onclick="get_values()">Опросить счётчики</button>

<ul id="lines" class="mt-2"></ul>
{% endblock %}

{% block scripts %}
<script>
    function get_values() {
        var socket = new WebSocket("ws://127.0.0.1:8000/ws/get-values");

        socket.onopen = function() {
          console.log("Соединение установлено.");

          socket.send(JSON.stringify({"cmd": "start"}));
        };

        socket.onclose = function(event) {
          if (event.wasClean) {
             console.log('Соединение закрыто чисто');
          } else {
             console.log('Обрыв соединения'); // например, "убит" процесс сервера
          }
             console.log('Код: ' + event.code + ' причина: ' + event.reason);
        };

        socket.onmessage = function(event) {
            console.log("Получены данные " + event.data);

            let keys = JSON.parse(event.data);
            console.log(keys);

            for (var k in keys) {
                console.log(k, keys[k]);
                $("#lines").append($("<li>").text(k + ': ' + keys[k]));
            }
        };

        socket.onerror = function(error) {
           console.log("Ошибка " + error.message);
        };
    }
</script>
{% endblock %}